*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header{
    height: 90px;
}
.header-top{
    width: 100%;
    height: 30px;
    background-color: black;
    position: fixed;
    z-index: 2;
}
.header-bottom{
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.fa-chevron-down{
    font-size: 10px;
    color: gray;
}
.fa-magnifying-glass{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 0px;
}
.btn-login{
    font-size: 15px;
    color: #a3a3a3;
    background: rgb(29, 29, 29);
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 4px 18px;
    }
.btn-login::before {
    content: '';
    border-radius: 1000px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px #353535;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
.btn-login:hover, .btn-login:focus {
    color: rgb(134, 134, 134);
}
.btn-login:hover::before, .btn-login:focus::before {
    opacity: 1;
}
.btn-login:hover::after, .btn-login:focus::after {
    animation: none;
    display: none;
}

/* /header */

/* Main */
#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height:80vh
}
.btn-red{
    font-size: 15px;
    color: #ffffff;
    background: red;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 4px 18px;
    }
  
.btn-red::before {
    content: '';
    border-radius: 1000px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 2px solid red;
    box-shadow: 0 0 20px #0A121A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
.btn-red:hover, .btn-red:focus {
    color: white;
 }
.btn-red:hover::before, .btn-red:focus::before {
    opacity: 1;
}
.btn-red:hover::after, .btn-red:focus::after {
    animation: none;
    display: none;
}
.t-img{
    border: 1px solid rgb(252, 252, 252);
    border-radius: 14px; 
    padding:4px;
    position: relative;
}
.t-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 50, 186, 0.5);
    border: 2px solid blue;
    bottom: 20px;
}
.acc_ps5{
    opacity: 0.5;
}
.acc_ps5:hover{
   opacity: 1; 
   border-bottom: 3px solid blue;
}
.img_ps5-acc{
    width: 12vw;
   
}
.btn-blue{
    font-size: 15px;
    color: #ffffff;
    background: #2D64E6;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 4px 18px;
    }
  
.btn-blue::before {
    content: '';
    border-radius: 1000px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 2px solid #2D64E6;
    box-shadow: 0 0 20px #2D64E6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.btn-blue:hover, .btn-blue:focus {
    color: white;
 }
.btn-blue:hover::before, .btn-blue:focus::before {
    opacity: 1;
}
.btn-blue:hover::after, .btn-blue:focus::after {
    animation: none;
    display: none;
}

#jumbotron-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-top: 85px;
}

#cards{
    background-color: #1F1F1F;
    color: white;
    padding-bottom: 50px;
    margin-top: -1px;
}
.card{
    background-color: #1F1F1F;
    border: 0px solid #1F1F1F;
}
.card_img{
    border-radius: 1.25rem;
}
#ps-plus{
    background-color: #BEBCBB;
}
.btn-gray{
    font-size: 15px;
    color: #2D64E6;
    background-color: #D9DADC;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 4px 18px;
    }
  
.btn-gray::before {
    content: '';
    border-radius: 1000px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 2px solid #D9DADC;
    box-shadow: 0 0 20px #D9DADC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.btn-gray:hover, .btn-gray:focus {
    color: #2D64E6;
 }
.btn-gray:hover::before, .btn-gray:focus::before {
    opacity: 1;
}
.btn-gray:hover::after, .btn-gray:focus::after {
    animation: none;
    display: none;
}

#ps-now{
    background-color: #161C3B;
}
/* /Main */

/* Footer */
footer{
    background-color: #00439C;
}
.sie-img{
    width: 120px;
}
/* /Footer */





/* Media Query */
@media screen and (max-width: 576px) {
    .p_ps5{
       display: none;
    }
    .img_ps5-acc{
        width: 150px;
    }
    .ps_plus_none, .ps_now_none{
        display: none;
    }
}
@media screen and (min-width: 576px) {
    #plo{
        flex-wrap: nowrap;  
    }
}

